.content {
    /*height: 100vh;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.title {
    text-align: center;
    padding-bottom: 40px;
}

.cardsWrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; /* Добавляем обёртывание */
}

.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.cardImage {
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1; /* Соотношение сторон: 1:1 (круг) */
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0; /* Избегаем сжатия в флекс-контейнере */
}

.cardTitle {
    text-align: center;
}

.cardText {
    text-align: center;
}

/* Мобильные устройства */
@media (max-width: 480px) {

}

/* Смартфоны среднего размера */
@media (max-width: 767px) {

}

/* Планшеты */
@media (max-width: 1023px) {

}

/* Ноутбуки и небольшие десктопы */
@media (max-width: 1366px) {

}
