/* Основной контейнер для галереи */
.content {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    padding: 40px;
    /*border-top: 1px gray outset;*/
    background-color: #333333;
    color: white;
}

.title {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

/* Галерея с горизонтальной прокруткой */
.gallery {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Скрыть скроллбар в Firefox */
}

.gallery::-webkit-scrollbar {
    display: none; /* Скрыть скроллбар в Chrome */
}

/* Элементы внутри галереи */
.galleryItem {
    display: flex;
    justify-content: center;
    flex: 0 0 100%; /* Элемент занимает всю ширину контейнера */
    width: 100%;
    height: 500px;
    scroll-snap-align: center;

}

.galleryImage {
    text-align: center;
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
    height: auto; /* Высота подстраивается автоматически */
    object-fit: contain; /* Сохраняет пропорции, подстраивает под размеры родителя */
    transition: transform 0.3s ease, filter 0.3s ease;
}

/*.galleryImage:hover {*/
/*    transform: scale(1.05);*/
/*    filter: brightness(0.9);*/
/*}*/

/* Контейнер для точек навигации */
.dotsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #666;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot:hover {
    background-color: #777;
}

.dot.active {
    background-color: white;
}

.dot:focus {
    outline: none;
}
